# <center> <u>Data Structures <u> </center>

## 1. Lists

Reference:- https://www.youtube.com/watch?v=b3O9qI5dcHE&list=PLsR_0x6BuM-GCc3iD6OQuEZHCAtYPmZfx&index=10

<p style='text-align: right;'> 1+1+1 = 3 points</p>

#### 1.1 Create an empty list with the name ‘a’, print the value of a and type(a).

In [2]:
# create empty list, name it 'a'
a = []

In [3]:
# print the value of a
a

[]

In [4]:
# print the type of a

type(a)

list

#### 1.2.Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

<p style='text-align: right;'> 1+1+1+1+1+1+1+1 = 7 points</p>

In [16]:
#code here
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [6]:
#code here
len(languages)

5

Using for loop iterate and print all the elements in the list

In [7]:
#code here
for i in languages:
  print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [9]:
#code here
temp = languages[1]

Print the value of temp and type(temp)

In [10]:
#code here
print(temp)
type(temp)

Python

str

Using list comprehension, print the last two elemets of list

In [12]:
# code here
languages[-2:]

['Scala', 42]

Append the element 'Java' in the list

In [17]:
#code here
languages.append('Java')

Remove the element 42 from the list and print the list

In [18]:
#code here
languages.remove(42)
languages

['R', 'Python', 'SAS', 'Scala', 'Java']

#### 1.3. Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

<p style='text-align: right;'> 1+1+1+1+1+1+1 = 6 points</p>

In [20]:
#code here
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [21]:
#code here
colors.append('Black')

Append the color 'Orange' to second position (index=1) and print the list

In [22]:
# code here
colors.insert(1,'Orange')

Print the list

In [23]:
# code here
print(colors)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [25]:
# code here
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [27]:
#code here
colors.extend(colors2)

Print len of colors and its elements

In [30]:
# code here
print(len(colors))
print(colors)

7
['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [32]:
# code here
colors.sort()
colors

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

#### 1.4. Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

<p style='text-align: right;'> 7 points</p>

In [36]:
# code here
sent = "Coronavirus Caused Lockdowns Around The World."

Use split function to convert the string into a list of words and save it in variable words and print the same

In [38]:
# code here
x = sent.split(" ")
x

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Using list comprehensions, convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [40]:
# code here
words_lower = [i.lower() for i in x]
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [41]:
# code here
'country' in words_lower

False

Remove the element ‘the’ from the list and print the list.

In [42]:
# code here
words_lower.remove('the')
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [43]:
#code here
x4 = words_lower[0:4]

In [44]:
# print x4
x4

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [45]:
#code here
print(" ".join(x4))

coronavirus caused lockdowns around

## 2. Sets

Reference:-https://www.youtube.com/watch?v=B7dPo44o5jA&list=PLsR_0x6BuM-GCc3iD6OQuEZHCAtYPmZfx&index=12

#### 2.1. Create stud_grades = ['A','A','B','C','C','F']

<p style='text-align: right;'> 7 points</p>

In [46]:
#code here
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [47]:
#code here
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [48]:
#code here
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [49]:
#code here
stud_grades_set

{'A', 'B', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [51]:
#code here
print(type(stud_grades), stud_grades)
print(type(stud_grades_set), stud_grades_set)

<class 'list'> ['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'> {'F', 'B', 'C', 'A'}

Add a new element ‘G’ to stud_grades_set

In [52]:
#code here

stud_grades_set.update('G')

Add element 'F' to stud_grades_set. and print it.

In [53]:
#code here
stud_grades_set.update('F')
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [54]:
#code here
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [55]:
#code here
print(stud_grades_set)
len(stud_grades_set)

{'C', 'G', 'B', 'A'}

4

#### 2.2. Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

<p style='text-align: right;'> 6 points</p>

In [62]:
#code here
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [64]:
#code here
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [65]:
#code here
colors_set =set(colors)
fruits_set = set(fruits)
print(colors_set)
print(fruits_set)

{'red', 'orange', 'blue'}
{'grapes', 'orange', 'apples'}

Find the union of both the sets.

In [66]:
#code here
colors_set.union(fruits_set)

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [67]:
#code here
colors_set.intersection(fruits_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [68]:
#code here

fruits_set.difference(colors_set)

{'apples', 'grapes'}

## 3. TUPLES

Reference:-https://www.youtube.com/watch?v=aMGPLCzTvmE&list=PLsR_0x6BuM-GCc3iD6OQuEZHCAtYPmZfx&index=11

#### 3.1 . Create temp = [17, ’Virat’, 50.0]

<p style='text-align: right;'> 7 points</p>

In [1]:
#code here
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [2]:
#code here
for i in temp:
  print(i)

17
Virat
50.0

replace first element with 11 in temp

In [3]:
#code here
temp[0]=11

Set temp1 = tuple(temp)

In [4]:
#code here

temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [5]:
#code here
for i in temp1:
  print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [6]:
#code here
temp1[0]=17

TypeError: ignored

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

<p style='text-align: right;'> 6 points</p>

#### 3.2 . Create city = ("Bangalore", 28.9949521, 72)

In [21]:
#code here

city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [22]:
#code here
city[0]

'Bangalore'

Create city2 = (‘Chennai’, 30.01, 74)

In [23]:
#code here
city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [28]:
#code here
city =list(city)
city2 = list(city2)
city_ = []

city_.append(tuple(city))
city_.append(tuple(city2))

cities = tuple(city_)
cities

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print cities

In [29]:
#code here
cities

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [30]:
#code here
type(cities[0])

tuple

print the type of cities

In [32]:
#code here

print(type(cities))

<class 'tuple'>

Hey that implies you made a nested tuples!!

## 4. DICT

Reference:-https://www.youtube.com/watch?v=U3e-L1WSSzQ&list=PLsR_0x6BuM-GCc3iD6OQuEZHCAtYPmZfx&index=13

<p style='text-align: right;'> 11 points</p>

#### 4.1 Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [34]:
#code here
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [35]:
#code here
d[0]

KeyError: ignored

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [36]:
d['actor']#code here

'amir'

Print the type of actor

In [39]:
#code here
print(type(d['actor']))

<class 'str'>

Store the value of d[‘list’] in new variable l.

In [40]:
#code here
l = d['list']

Print the type of l.

In [41]:
#code here
print(type(l))

<class 'list'>

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [43]:
#code here
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [44]:
#code here

d.update(d1)

print d

In [45]:
#code here
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [46]:
#code here

d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [47]:
#code here

d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as given in output

In [50]:
#code here
for i in d.items():
    print(i[0],"---->", i[1])

actor ----> amir
animal ----> cat
earth ----> 2
list ----> [23, 32, 12]
singer ----> Kr$na
album ----> Still here
genre ----> hip-hop


Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

Count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [51]:
#code here
sent = "Coronavirus Caused Lockdowns Around The World."
dic = {}
for i in sent:
  if i not in dic.keys():
    dic[i] = 1
  else:
    dic[i] =  dic[i]+1
print(dic)

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1}

# --------------------------------------------------------------------

# Hurray!! Second milestone completed. The next challenge is waiting for you :)

# --------------------------------------------------------------------

-----------------
# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

Please fill this feedback form  https://zfrmz.in/MtRG5oWXBdesm6rmSM7N