# <center><u>Pandas <u> </center>

## 1.[Pandas Series](https://pandas.pydata.org/pandas-docs/stable/reference/series.html)

resource - https://youtu.be/ymqgwuEM1bQ

<p style='text-align: right;'> 1*4=4 points</p>

Import pandas and numpy with their aliases

In [37]:
import numpy as np
import pandas as pd

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [38]:
a = pd.Series([100,200,300,400])

Print a, and data type

In [39]:
print(a)
print(type(a))

0    100
1    200
2    300
3    400
dtype: int64
<class 'pandas.core.series.Series'>

Using indexing access the element 300 from the series a.

In [40]:
a[2]

300

What are the values of index for series a?

<p style='text-align: right;'> 2*4 = 8 points</p>

In [41]:
a.index

RangeIndex(start=0, stop=4, step=1)

Change the index to  ['c', 'a', 'b', 'd']

In [42]:
index_ = ['c', 'a', 'b', 'd']
a.index = index_
a

c    100
a    200
b    300
d    400
dtype: int64

Access the value in the series with index 'd'

In [43]:
a['d']

400

Sort the values wrt to the index and print it

In [44]:
a.sort_index(inplace=True)
a

a    200
b    300
c    100
d    400
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

<p style='text-align: right;'> 4*2=8 points</p>

In [45]:
b=pd.Series([800,450,100],index=['e','f','g'])
b

e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [46]:
a = a.append(b)

In [47]:
#print a again after appending b into it
a

a    200
b    300
c    100
d    400
e    800
f    450
g    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [48]:
a.sort_values(inplace=True,ascending=False)

In [49]:
# print index of a
a.index

Index(['e', 'f', 'd', 'b', 'a', 'c', 'g'], dtype='object')

## 2. [Pandas DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)

Reference:-https://youtu.be/xPgG6_ZFi8Y

<p style='text-align: right;'> 8*2 = 16 points</p>

### Part 1

<p style='text-align: right;'> 5 points</p>

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [69]:
df = pd.DataFrame(a)
df

     0
e  800
f  450
d  400
b  300
a  200
c  100
g  100

Point to ponder! Don't you think series a and dataframe df looks alike? But there must be some difference between them. 
Hey buddy think and write your thoughts below.

In [51]:
# happy to know your comment

<p style='text-align: right;'> 2 + 1*4 = 6 points</p>

What is the shape of the datafarme <br>

In [70]:
df.shape

(7, 1)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a' ?

In [71]:
df.index

Index(['e', 'f', 'd', 'b', 'a', 'c', 'g'], dtype='object')

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [72]:
#head
df.head()

     0
e  800
f  450
d  400
b  300
a  200

In [73]:
#tail
df.tail()

     0
d  400
b  300
a  200
c  100
g  100

Rename the columns of the dataframe as 'points'

<p style='text-align: right;'> 2 points</p>

In [76]:
df.columns = ["points"]
df

   points
e     800
f     450
d     400
b     300
a     200
c     100
g     100

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

<p style='text-align: right;'> 5 points</p>

In [80]:
#Create fruits array
import random
list_ = ['orange','manago','apple']
fru = [random.choice(list_) for i in range(7)]
fru

['manago', 'manago', 'orange', 'orange', 'orange', 'apple', 'manago']

The above output might vary based randomness

In [82]:
#Create series fruits out of fruits array
fruits = pd.Series(fru)
fruits

0    manago
1    manago
2    orange
3    orange
4    orange
5     apple
6    manago
dtype: object

Change the index of fruits to the index of dataframe df

<p style='text-align: right;'> 5 points</p>

In [83]:
fruits.index=df.index
print(fruits)

e    manago
f    manago
d    orange
b    orange
a    orange
c     apple
g    manago
dtype: object

Add this fruits series as a new column to the dataframe df with its column name as 'fruits' <br> print the head of the dataframe to verify

In [85]:
df['fruits'] = fruits
df.head()

   points  fruits
e     800  manago
f     450  manago
d     400  orange
b     300  orange
a     200  orange

<u>Bonus optional question:</u> <br>
What if we had to changed the index of the dataframe? <br>
Try to add any series to the dataframe with the origianl index (when index of series is not same as to the index of dataframe)

Use series as pd.Series([100,200,300,400,500,600,700]) and try to add it to df with column name Bonus_number.

Bonus marks: 5 points

In [86]:
#bonus code here
sd = pd.Series([100,200,300,400,500,600,700])
df["Bonus_number"] = sd
df

   points  fruits  Bonus_number
e     800  manago           NaN
f     450  manago           NaN
d     400  orange           NaN
b     300  orange           NaN
a     200  orange           NaN
c     100   apple           NaN
g     100  manago           NaN

### Part 2
Reference:- https://www.youtube.com/watch?v=yPVQZZmheCg

Create a dataframe  d1 where the columns are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

<p style='text-align: right;'> 2*5=10 points</p>

In [89]:
d1 = pd.DataFrame({'city' : ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali' ], 'Temperature' : [15, 22, 20, 26,-2]})

Print d1

In [90]:
d1

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

What is the shape of d1.

In [91]:
d1.shape

(5, 2)

Set city = d1['city']

In [92]:
city=d1['city']

print city <br>
What is the type of city.

In [93]:
print(city)
print(type(city))

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object
<class 'pandas.core.series.Series'>

Create another dataframe d2 where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

<p style='text-align: right;'> 3+2+5 = 10 points</p>

In [98]:
city = ['Bengalaru','Coimbatore','Srirangam','Pondicherry']
temperature = [24,35,36,39]
d2 = pd.DataFrame({'city':city,'Temperature':temperature})
d2

          city  Temperature
0    Bengalaru           24
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

print the shape of this dataframe

In [96]:
d2.shape

(4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [113]:
d3 = pd.concat([d1,d2],ignore_index=True)
d3

          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali           -2
5    Bengalaru           24
6   Coimbatore           35
7    Srirangam           36
8  Pondicherry           39

# fun fact at high level

1. .concat() simply stacks multiple DataFrame together either vertically, or stitches horizontally after aligning on index
2. .merge() first aligns two DataFrame' selected common column(s) or index, and then pick up the remaining columns from the aligned rows of each DataFrame

Do you know about join function? This interesting quest we give to you to find.

Select the part of the dataframe such that it contains cities where temp is less then or equal to 20 <br>
How many cities are there?

<p style='text-align: right;'> 5+5=10 points</p>

In [114]:
d3[d3['Temperature']<=20][['city']]

         city
0  Chandigarh
2      Kanpur
4      Manali

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [115]:
d3[d3['Temperature']>=35][['city']]

          city
6   Coimbatore
7    Srirangam
8  Pondicherry

## 3. Applying functions to columns and creating new columns

Reference: https://youtu.be/MxSHDIxm6JA

<p style='text-align: right;'> 20 points</p>

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not. 
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [117]:
# write function here
def unionT(c):
  ci = ['Chandigarh','Pondicherry','Delhi']
  if c in ci:
    return True
  else:
    return False

d3["union territories"] = [unionT(d3['city'][i]) for i in range(d3.shape[0])]

In [118]:
#print d3
d3

          city  Temperature  union territories
0   Chandigarh           15               True
1        Delhi           22               True
2       Kanpur           20              False
3      Chennai           26              False
4       Manali           -2              False
5    Bengalaru           24              False
6   Coimbatore           35              False
7    Srirangam           36              False
8  Pondicherry           39               True

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT - 
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [122]:
# write function here
def c_to_f(v):
  return v*5.0

In [123]:
# check  function c_to_f(10)
c_to_f(10)

50.0

In [125]:
# apply function c_to_f to d3 to create a column 'temp_farenhiet'
d3["temp_farenhiet"] = [d3['Temperature'][i] for i in range(d3.shape[0])]
d3

          city  Temperature  union territories  temp_farenhiet
0   Chandigarh           15               True              15
1        Delhi           22               True              22
2       Kanpur           20              False              20
3      Chennai           26              False              26
4       Manali           -2              False              -2
5    Bengalaru           24              False              24
6   Coimbatore           35              False              35
7    Srirangam           36              False              36
8  Pondicherry           39               True              39

## 4. Indexing and selecting rows in DataFrame

Reference:-https://youtu.be/TB0pXxTyH6g

<p style='text-align: right;'> 20 points</p>

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [149]:
d3[d3['union territories']][['city']]

          city
0   Chandigarh
1        Delhi
8  Pondicherry

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [150]:
d3[d3['temp_farenhiet']>90][['city']]

Empty DataFrame
Columns: [city]
Index: []

Select only the first three rows of the dataframe d1.

In [128]:
d3[:3]

         city  Temperature  union territories  temp_farenhiet
0  Chandigarh           15               True              15
1       Delhi           22               True              22
2      Kanpur           20              False              20

Select all the rows and last two columns in the dataframe.

In [131]:
d3.iloc[:,-2:]

   union territories  temp_farenhiet
0               True              15
1               True              22
2              False              20
3              False              26
4              False              -2
5              False              24
6              False              35
7              False              36
8               True              39

## 5. Reading csv file and group by

Reference: https://youtu.be/e22QpyC_bYo <br>
https://youtu.be/Qm2ohA-f3fU

<p style='text-align: right;'> 2*2=4 points</p>

Read the file 'weather_data.csv' and store it in a pandas dataframe 'df'

In [132]:
df = pd.read_csv("weather_data.csv")

print the shape and head of the dataframe

In [133]:
print(df.shape)
df.head()

(6, 4)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

Group the dataframe wrt to 'event' and save the resulting output in a variable named 'g'

<p style='text-align: right;'> 5*3 = 15 points</p>

In [135]:
g = df.groupby('event')

Print g and  type(g)

In [136]:
print(g)
print(type(g))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fc228b1d8d0>
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

Iterate over all the temperatures in g and print them

In [137]:
for i in g['temperature']:
  print(i)

('Rain', 0    32
4    32
Name: temperature, dtype: int64)
('Snow', 2    28
3    24
Name: temperature, dtype: int64)
('Sunny', 1    35
5    31
Name: temperature, dtype: int64)

Use the describle method on g to get the complete description on it.

In [139]:
g.describe()

      temperature                                               windspeed  \
            count  mean       std   min   25%   50%   75%   max     count
event
Rain          2.0  32.0  0.000000  32.0  32.0  32.0  32.0  32.0       2.0
Snow          2.0  26.0  2.828427  24.0  25.0  26.0  27.0  28.0       2.0
Sunny         2.0  33.0  2.828427  31.0  32.0  33.0  34.0  35.0       2.0


      mean       std  min   25%  50%   75%  max
event
Rain   5.0  1.414214  4.0  4.50  5.0  5.50  6.0
Snow   4.5  3.535534  2.0  3.25  4.5  5.75  7.0
Sunny  4.5  3.535534  2.0  3.25  4.5  5.75  7.0

Create a new column in the dataframe df, named 'hot_temp' which contains True if temp is above 30, else False

<p style='text-align: right;'> 5 points</p>

In [140]:
#code here to filter df with above condition
df['hot_temp'] = [True if df['temperature'][i]>30 else False for i in range(df.shape[0])]

In [141]:
# print df
df

        day  temperature  windspeed  event  hot_temp
0  1/1/2017           32          6   Rain      True
1  1/2/2017           35          7  Sunny      True
2  1/3/2017           28          2   Snow     False
3  1/4/2017           24          7   Snow     False
4  1/5/2017           32          4   Rain      True
5  1/6/2017           31          2  Sunny      True

## Data Range

Reference:-https://youtu.be/_gcJfwKElxs

<p style='text-align: right;'> 5*3 = 15 points</p>

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [142]:
a = pd.date_range(start='2020-01-01',end='2021-04-01')

print a

In [143]:
a

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
               '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
               '2021-03-31', '2021-04-01'],
              dtype='datetime64[ns]', length=457, freq='D')

What is the len of a?

In [144]:
len(a)

457

What is the type of a?

In [145]:
type(a)

pandas.core.indexes.datetimes.DatetimeIndex

________________
# Hey high five! You solved the 4th milestone challenge too! Pawri to banti hai ;)
________________